name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip --use-feature=2020-resolver
          python -m pip install coveralls --use-feature=2020-resolver
          python -m pip install .[dev,fda] --use-feature=2020-resolver
          python -m pip install https://github.com/bboe/coveralls-python/archive/github_actions.zip
      - name: Lint
        run: |
          flake8
          black --check .
          pydocstyle
      - name: Test
        run: |
          cp $(python -c 'import site; print(site.getsitepackages()[0])')/groupyr/_version.py groupyr/_version.py
          tox
      - name: Coveralls
        run: |
          coveralls
        if: matrix.python-version == 3.8
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
